body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  /*background: #fdf6e3;*/
  background: white;
  color: #444444;
  font-family: sans-serif;
}

.frame {
  width: 100%;
  margin: 0 auto;
}

.frame-row {
  width: 100%;
  /*border: red 1px dashed;*/
}

.frame-row-header {
  background: white;
  color: #073642;
}

.frame-row-footer {
  background: white;
  color: #073642;
}

.content-frame {
  width: 100%;
  margin: 0 auto;
  /*border: blue 1px dashed;*/
}

#header {
  margin: 0 auto;
  padding: 16px;
  padding-top: 64px;
  padding-bottom: 32px;
}

#header h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

#header h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: #cccccc;
}

.content {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1em;
  line-height: 1.5em;
}

#footer {
  margin: 0 auto;
  padding: 16px;
}

/* Common HTML */

select {
  color: #444;
  font-size: 0.8em;
  background: transparent;
  margin: 0;
  padding: 2px;
}

button {
  background-color:#7892c2;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.8em;
  padding: 2px 8px 2px 8px;
}

input {
  color: #444;
  font-size: 0.8em;
  background: transparent;
  margin: 0;
  padding: 2px;
  border: 1px solid #777;
}

/* for Bigger Screen */

@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }
  .content-frame {
    width: 800px;
    margin: 0 auto;
  }
}
