body {
    margin: 0;
    padding: 0;
    background-color: #181e26;
    color: #dfdfdf;
    font-family: sans-serif;
    word-break: keep-all;
    line-height: 1.9rem;
    font-size: 16px;
}

#content {
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
}

#content header {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #373c40;
    margin-bottom: 1.2rem;
    box-shadow: 0px 2px 5px 0px black;
}

#content header h1 {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.0rem;
    font-weight: bold;
    color: #e6e6e6;
}

#content header h2 {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    font-weight: normal;
    color: #a4a4a4;
}

#content h2 a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #a4a4a4;
}

#content h2, h3, h4, h5, h6, p, blockquote {
    padding-left: 1rem;
    padding-right: 1rem;
}

#content h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 800px;
    margin: 0 auto;
    color: #e6e6e6;
}

#content h2 {
    font-size: 1.8rem;
    margin-top: 2.3rem;
    margin-bottom: 1rem;
}

#content h3 {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    margin-bottom: 0.9rem;
}

#content h4 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

#content p {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    color: #a4a4a4;
}

#content a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #cdb464;
}

#content .org-src-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #071513;
    box-shadow: 0px 2px 5px 0px black;
    border-radius: 8px;
}

#content pre {
    width: 100%;
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    color: #e6e6e6;
    font-size: 1rem;
    font-family: Menlo, Monaco, monospace;
    white-space: pre-wrap;
}

#content code {
    padding: 2px 4px 2px 4px;
    font-family: Menlo, Monaco, monospace;
    background: #1c1c1c;
    color: #e6e6e6;
    font-size: 0.9rem;
}

#content blockquote {
    max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid #b40404;
}

#content blockquote p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-style: italic;
    color: #bdbdbd;
}

#content ul, ol {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    color: #a4a4a4;
    font-size: 1rem;
}

#content hr {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
    border: none;
    border-top: 1px solid #333;
}

#content figure {
    max-width: 800px;
    margin: 0 auto;
}

#content img {
    max-width: 100%;
}

#content .inlinead {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

#footer {
    margin-top: 64px;
    text-align: center;
}

#time {
    line-height: 1.0rem;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: #6e6e6e;
}

#copyright {
    line-height: 1.0rem;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: #6e6e6e;
}
