body {
  margin: 0;
  padding: 0;
  background-color: #292c33;
  color: #bcc2ce;
  font-family: sans-serif;
  word-break: keep-all;
  line-height: 1.8rem;
  font-size: 18px;

  /* readability */
  text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

/* Big */
@media screen and (min-width: 1280px) {
  .top-header {
    width: 100%;
    margin: 64px 0px 48px 0px;
  }

  .logo-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .site-logo {
    display: block;
    float: left;
    max-height: 42px;
    width: auto;
  }

  nav {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    line-height: 100%;
  }

  .title-date {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .article-link-date {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .content-container {
    display: grid;
    grid-template-columns: 40px 800px 200px;
    grid-template-rows: auto;
    grid-column-gap: 24px;
    justify-content: center;
  }

  .left-empty {
    grid-column: 1;
  }

  .content {
    grid-column: 2;
  }
  .header-content {
    grid-column: 2;
  }

  .top-ad-container {
    width: 100%;
    margin: 48px 0px 48px 0px;
  }

  .top-ad {
  }

  .side-ad-container {
    grid-column: 3;
    padding-top: 30px;
  }

  .side-ad {
    padding-top: 16px;
    width: 160px;
    position: -webket-sticky;
    position: sticky;
    top: 0;
  }
}

/* Mid */
@media screen and (min-width: 800px) and (max-width: 1279px) {
  .top-header {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .logo-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .site-logo {
    display: block;
    float: left;
    max-height: 42px;
    width: auto;
  }

  nav {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    line-height: 100%;
  }

  .title-date {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .article-link-date {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .content-container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .top-ad-container {
    width: 100%;
    margin: 48px 0px 48px 0px;
  }

  .top-ad {
  }

  .side-ad-container {
    width: 0;
    height: 0;
    display: none !important;
  }

  .side-ad {
    width: 0;
    height: 0;
    display: none !important;
  }
}

/* Small */
@media screen and (max-width: 799px) {
  .top-header {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .logo-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .site-logo {
    max-width: 55%;
    min-width: 300px;
    height: auto;
  }

  nav {
    margin: 0;
    padding: 8px 0 0 0;
    line-height: 100%;
  }

  .article-link-date {
    text-align: left;
  }

  .content-container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .top-ad-container {
    width: 100%;
    margin: 48px 0px 48px 0px;
  }

  .top-ad {
  }

  .side-ad-container {
    width: 0;
    height: 0;
    display: none !important;
  }

  .side-ad {
    width: 0;
    height: 0;
    display: none !important;
  }

}

.archive-link {
  font-size: 1rem;
}

nav a, nav a:link, nav a:visited, nav a:hover, nav a:active {
  text-decoration: none;
  color: white;
}

.title-date {
  font-size: 0.8rem;
  color: #788086;
}

#table-of-contents {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 1px dashed #bcc2ce;
}

#table-of-contents h2 {
  margin: 0;
  font-size: 1.2rem;
  border-top: none;
  padding-top: 4px;
}

#table-of-contents h2 img {
  vertical-align: top;
  padding: 0;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-right: 0.2rem;
  height: 1.4rem;
  width: auto;
}

#text-table-of-contents {

}

#text-table-of-contents ul {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item {
  text-transform: uppercase;
}

.menu-icon {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  height: 1.5rem;
  width: auto;
}

div.header-content > hr,
div.backlinks-container > hr,
div.refs-container > hr {
  width: 100%;
  border: 0.5px solid #bcc2ce;
  margin-top: 48px;
  margin-bottom: 48px;
  clear: both;
}

div.outline-text-2 > hr {
  width: 10%;
  border: 0.5px solid #788086;
  margin-top: 36px;
  margin-bottom: 36px;
  clear: both;
}

/* summary */

.summary-container {
  margin-bottom: 2rem;
}

.summary-container h1 {

}

.article-link {

}

.article-link-title-block {
  position: relative;
}

.article-link-title-block h2 {
  margin-top: 1.2rem !important;
  margin-bottom: 0 !important;
  border-top: none !important;
  padding: 0 !important;
}

.article-link-title {
  font-weight: normal;
}

.article-link-date {
  font-size: 0.9rem;
  color: #788086;
}

.mid-ad-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

.mid-ad {
  width: 100%;
}

.bottom-ad-container {
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

.bottom-ad {
  width: 100%;
}

/* content */


.content {
  clear: both;
  width: 100%;
}

.content .ad {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.content header {
  position: relative;
}

.content header h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.content a, .content a:link, .content a:visited, .content a:hover, .content a:active {
  text-decoration: none;
  color: #69aee9;
}

.content h1, h2, h3, h4, h5, h6 {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
  margin: 0 auto;
  color: #e6e6e6;
}

.content h2 {
  font-size: 1.5rem;
  margin-top: 3.6rem;
  margin-bottom: 1rem;
  padding-top: 16px;
  padding-bottom: 0;
  border-top: 0.5px #788086 dashed;
}

.content h3 {
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 0.8rem;
}

.content h4 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.content p {
  margin: 0 auto;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.content .org-src-container {
}

.content pre {
  max-width: 100%;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  background-color: #21232a;
  font-size: 0.9rem;
  font-family: Menlo, Monaco, monospace;
  overflow-x: auto;
  line-height: 1.2rem;
  /*white-space: pre-wrap;*/
}

.content code {
  padding: 2px 4px 2px 4px;
  font-family: Menlo, Monaco, monospace;
  background: #21232a;
  font-size: 0.94rem;
}

.content blockquote {
  margin: 1.8rem 0 1.8rem 0;
  padding-left: 24px;
  border-left: 2px solid #ee746f;
}

.content blockquote p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-style: italic;
}

.content ul, ol {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-size: 1rem;
}

.content img {
  width: 100%;
  height: auto;
  max-height: 800px;
}

.content table {
  margin: 0 auto;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

th.org-left {
  padding: 0.8rem 1rem 0.8rem 1rem;
}

td.org-left {
  padding: 0.8rem 1rem 0.8rem 1rem;
}

/* post info */

.post-info-container img {
  vertical-align: middle;
  padding-right: 0.4rem;
}

.post-info-tag {
  border-radius: 6px;
  padding: 2 4 2 4;
  font-size: 0.9rem;
  border: 1px solid #bcc2ce;
}

/* footnotes */

#footnotes {
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 1px dashed #bcc2ce;
}

#footnotes sup {
  padding-left: 2rem;
  line-height: 1rem;
}

#footnotes p {
  margin: 0 0 0.4rem 0;
  padding-left: 2rem;
  line-height: 1.4rem;
}

#content #footnotes {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 0 1rem 0 1rem;
  line-height: 1rem;
}

#footnotes h2 {
  margin: 0 0 0.4rem 0;
  font-size: 1.2rem;
}

/* backlinks */

.backlinks-container {
  width: 100%;
}

.backlinks-container h1 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #e6e6e6;
}

/* refs */

.refs-container {
  width: 100%;
}

.refs-container h1 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #e6e6e6;
}

/* footer */

footer {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 0.9rem;
  color: #788086;
}
